.header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:56px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    z-index: 100;
}

.header-container img:hover,.categories div:hover{
    background-color: rgb(96,96,96);
    opacity: 0.8;
}

.video-title:hover{
    color: rgb(202, 199, 199);
    opacity: 0.8;
}

.channel-name:hover,.video-stats:hover{
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.left-section{
    display:flex;
    flex-direction: row;
    width: 300px;
    align-items: center;

}

.logo{
    width:90px;
}

body{
    background-color: white;
    font-family: Roboto, Arial;
    height: 2000px;
    background-color: black;
}

.upload, .youtube-apps, .notifications-logo, .menu{
    width: 26px;
    border-radius: 20px;
    padding: 8px;
}

.tooltip-icon{
    position: relative;
    
}

.tooltip-icon:hover .tooltip-text{
    opacity: 1;
}

.tooltip-icon:hover .tooltip-text-voice{
    opacity: 1;
}

.tooltip-text{
    position: absolute;
    color:white;
    top: 55px;
    left:-10px;
    font-size: 15px;
    background-color: rgb(120,120,120);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.30s;
    pointer-events: none;
    z-index: 100;
}

.tooltip-text-voice{
    position: absolute;
    color:white;
    top: 55px;
    left:-20px;
    width: 90px;
    font-size: 15px;
    background-color: rgb(120,120,120);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.30s;
    pointer-events: none;
    z-index: 100;
}



.my-channel-picture{
    width:35px;
    height:35px;
    border-radius: 30px;
    object-fit: cover;
}

.middle-section{
    flex:1;
    padding-left: 35px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    width:24px;
    padding:8px;
}

.logo{
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.right-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    padding-right: 20px;
}

.middle-section input{
    width:70%;
    height: 40px;
    border-color:hsl(0, 0%, 18.82%);
    background-color: black;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 40px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;  
    min-width: 100px; 
}
.icon {
  background-image: url(media/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 95% 5px;
  background-size: 25px;
  background-color: hsl(0, 0%, 18.82%);
  color:hsl(0, 0%, 18.82%);
  }

  .voice-search{
    padding: 8px;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: hsl(0, 0%, 18.82%);
    border-radius: 40px;
  }

  .inner-container{
    position: fixed;
    top:56px;
    bottom:0px;
    left:0px;
    right: 83%;
    background-color: black;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding-top: 20px;
    overflow-y: scroll;
    z-index: 1;
  }

  .sidebar-container{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }


  .inner-options{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:80%;
    background-color: black;
    height: 30px;
    border-radius: 5px;
  }
  .inner-options-home{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:80%;
    background-color: #292828;
    height: 30px;
    border-radius: 5px;
  }
  .home-icon,.shorts-icon,.subscriptions-icon,.originals-icon,.yt-music-icon{
    width:24px;
  }
  
  .inner-options:hover{
    background-color: #292828;
  }

  .identifier{
    font-weight: 400;
    color:white;
    padding-left: 20px;
    padding-top:7px;
    font-size: 15px;
    align-items: center;
  }
  .categories{
    position: fixed;
    top:56px;
    left:17%;
    right: 0px;
    background-color:black;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    overflow-x: scroll;
    height: 72px;
    z-index: 1;
  }

  .identifier-2{
    margin-left: 10px;;
    font-weight: 400;
    color:white;
    padding: 7px 15px 7px 15px;
    margin-top: 5px;
    margin-bottom: 17px;
    font-size: 13px;
    align-items: center;
    border-radius: 5px;
    background-color: #292828;
    flex: 0 0 auto;
    
  }
  .identifier-2-last{
    margin-left: 10px;;
    font-weight: 400;
    color:white;
    padding: 7px 15px 7px 15px;
    margin-right: 280px;
    margin-top: 5px;
    margin-bottom: 17px;
    font-size: 13px;
    align-items: center;
    border-radius: 5px;
    background-color: #292828;
    flex: 0 0 auto;
  }

  .categories::-webkit-scrollbar { width: 0 !important }

  .youtube-body{
    position: relative;
    padding-left: 20%;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap:50px;
  }

  .video-body{
    display: flex;
    flex-direction: column;
  }

  .video-card{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color:white;
  }

  .video-text-area{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .channel-logo{
    width:34px;
    object-fit: cover;
    height: 34px;
    border-radius: 20px;
  }

  .tooltip-icon{
    padding-top: 4px;
  }
  .icon{
    background-position: 95% 8px;
  }

  .video-thumbnail img{
    border-radius: 15px;
    width:250px;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .channel-name{
    padding-top: 10px;
  }
  .video-stats{
    padding-top: 5px;
  }

  .video-title{
    font-size:14px;
    color:#F1F1F1;
    padding-top: 3px;
    font-weight: 500;
  }

  .video-thumbnail:hover,.channel-logo:hover{
    opacity: 0.7;
  }

  .channel-name,.video-stats{
        font-size:12px;
        color: #AAAAAA;
        font-weight: 500;
  }

  .channel-logo-container{
    position:absolute;
  }

  @media (max-width : 320px)
  {
    .sidebar-container{
      display: none;
    }
    .categories{
      margin-left: -15%;
    }
    .youtube-body{
      position: relative;
      margin-left: -15%;
      padding-top: 150px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap:50px;
    }
    .youtube-body{
      padding-bottom: 20px;
    }
    .right-section{
      display: none;
    }
    .middle-section{
      padding-left: 10px;
    }
    .video-thumbnail img{
      width:280px;
    }
    .voice-search{
      display: none;
    }
  .tooltip-icon{
    padding-top: 5px;
  }
  .icon{
    background-position: 90% 8px;
  }
  .identifier-2{
    padding-bottom: 7px;
  }
  }
  @media (min-width:321px) and (max-width : 375px)
  {
   
    .voice-search{
      display: none;
    }
    .sidebar-container{
      display: none;
    }
    .categories{
      margin-left: -17%;
    }
    .youtube-body{
      position: relative;
      margin-left: -15%;
      padding-top: 150px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap:50px;
    }
    .right-section{
      display: none;
    }
    .middle-section{
      padding-left: 5px;
    }
    .left-section{
      width:160px;
    }
    .video-thumbnail img{
      width:320px;
    }

    .youtube-body{
      padding-bottom: 20px;
    }
    .tooltip-icon{
      padding-top: 5px;
    }
    .icon{
      background-position: 90% 8px;
    }
    .identifier-2{
      padding-bottom: 7px;
    }
  }
    @media (min-width: 376px) and (max-width : 425px)
  {
    .sidebar-container{
      display: none;
    }
    .categories{
      margin-left: -17%;
    }
    .youtube-body{
      position: relative;
      margin-left: -15%;
      padding-top: 150px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap:50px;
    }
    .right-section{
      display: none;
    }
    .left-section{
      width:170px;
    }
    .middle-section{
      padding-left: 0px;
    }
    .video-thumbnail img{
      width:350px;
    }
    .tooltip-icon{
      padding-top: 5px;
    }
    .icon{
      background-position: 90% 8px;
    }
    .identifier-2{
      padding-bottom: 7px;
    }
  }
  @media (min-width: 426px) and (max-width : 768px){
    .sidebar-container{
      display: none;
    }
    .categories{
      margin-left: -15%;
    }
    .youtube-body{
      padding-bottom: 20px;
    }
    .youtube-body{
      position: relative;
      margin-left: -18%;
      padding-top: 150px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
    .video-thumbnail img{
      width:350px;
    }
    .left-section{
      width:150px;
    }
    .tooltip-icon{
      padding-top: 5px;
    }
    .icon{
      background-position: 90% 8px;
    }
  }
  @media (min-width: 769px) and (max-width : 1024px)
  {
    .youtube-body{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }